<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065255062969-et5ats4hod31m1bd7vmfjgpmfqfgddmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065255062969-et5ats4hod31m1bd7vmfjgpmfqfgddmi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065255062969-qcnj6egu3ob0l4t5q60tts11r0eqnv4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYpT3KSkPvJHe2njSZfywmK1JN9TCY0fo</string>
	<key>GCM_SENDER_ID</key>
	<string>1065255062969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unustudents.presensi</string>
	<key>PROJECT_ID</key>
	<string>presensi-8501e</string>
	<key>STORAGE_BUCKET</key>
	<string>presensi-8501e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065255062969:ios:649193f1ff1d05e2dd3a68</string>
</dict>
</plist>